{% extends "principal.html" %}
{% block contentido %}

  <h3>Lista de Estudiantes</h3>
  <p><b>Número de equipos: ({{numero_estudiantes}})</b> </p>
  <table id="tabla_datos">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Cédula</th>
    </tr>
    </thead>
    <tbody>
    {% for e in estudiantes  %}
      <tr>
        <td>{{e.nombre}}</td>
        <td>{{e.apellido}}</td>
        <td>{{e.cedula}}</td>
      </tr>
      {% endfor %}

    </table>
  </tbody>
    <script type="text/javascript">
      $(document).ready( function () {
          $('#tabla_datos').DataTable();
        });
    </script>
{% endblock %}
